* {
  padding: 0;
  margin: 0;
}

#map {
  width: 100vw;
  height: 100vh;
}

.location-selector {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999999;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0 0 10px #000000;
}

.logo {
  position: absolute;
  left: 80px;
  top: 20px;
  z-index: 99999;
}

.filter-control {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  left: 10px;
  height: 42px;
  width: 42px;
  background: white;
  z-index: 1000;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  cursor: pointer;
}

.guage-icon {
  left: 5px;
}

.fuel-guage {
  border: 2px solid white;
  min-width: 10px;
  min-height: 18px;
  font-weight: bold;
  transform: rotate(-90deg);
  width: fit-content;
}

.fuel-up {
  color: greenyellow;
}

.fuel-down {
  color: red;
}
